@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-color: #f9f9f9; /* Soft light background */
        font-family: "Inter", sans-serif; /* Clean sans-serif font */
        color: #333333; /* Dark text for contrast */
    }

    h1,
    h2,
    h3 {
        @apply text-gray-800 font-semibold;
    }

    p {
        @apply text-gray-600;
    }

    table {
        @apply w-full text-sm text-gray-700;
    }
    section {
        @apply border rounded-xl p-4 mb-6;
    }
    /* Card and Background Colors */
    .bg-main {
        @apply bg-blue-200; /* Primary Blue */
    }

    .bg-secondary {
        @apply bg-gray-200; /* Light Gray for secondary elements */
    }

    .bg-card {
        @apply bg-white shadow-lg rounded-lg; /* For cards */
    }

    /* Button Colors */
    .btn-primary {
        @apply bg-blue-600 text-white hover:bg-blue-700;
    }

    .btn-secondary {
        @apply bg-gray-300 text-gray-800 hover:bg-gray-400;
    }
}
